.information {
	padding: 80px 0;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	font-size: 10px;
	background-image: linear-gradient(to right, #697ded, #5e30c1);
	color: #fff;
	height: 300px;
}
.choose {
    height: 860px;
    background: white;
}

.choose h4 {
	top: 1000px;
	padding-top: 100px;
    position: absolute;
    font-size: 38px;
    line-height: 42px;
    color: #08419A;
}

.choose h4::after {
    content: '';
    display: block;
    border-bottom: 4px solid #08419A;
    width: 50px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.choose .card {
    background-color: #f8f5f8;
    border-radius: 6px;
    box-shadow: 0 0 20px hsl(0, 0%, 87%);
    border: none;
    width: 300px;
    height: 300px;
}

.choose .col-lg-3 {
    margin-right: 60px;
}

.choose .card-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 25px
}
.banner{
	padding-top: 0px;
}

.faq{
    background-color: #5e30c1;
}

.daftar{
    background-color: #5e30c1;
}
.success{
    background-color: #5e30c1;
}
